In [8]:
symbols = '$¢£¥€¤'
list(filter(lambda c:c>127, map(ord, symbols)))

[162, 163, 165, 8364, 164]

In [9]:
#2.2.3
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [10]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [11]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [12]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s'%(c,s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [14]:
lax_coordinates = (33.94, -188.40)
city, year, pop, chg, area =  ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA','31195855'), ('BRA', 'CE342567'),
                ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' %passport)
for country, _ in traveler_ids:
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

In [15]:
latitude, longtitude =  lax_coordinates
latitude

33.94

In [19]:
t = (20,8)
quotient, remainder = divmod(*t)
quotient

2

In [22]:
import os
_,filename = os.path.split('/home/user/r.txt')
filename

'r.txt'

In [6]:
from collections import namedtuple
city = namedtuple('City', 'name country population coordinates')
tokyo = city('Tokyo', 'JP', 36.933, (35.689722,139.691667))
tokyo.coordinates

(35.689722, 139.691667)

In [18]:
city._fields
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = city._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

name:Delhi NCR
country:IN

TypeError: must be str, not float

In [2]:
board = [['_'] * 3 for i in range(3)]
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [3]:
weird_board = [['_'] * 3] * 3
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [5]:
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)
board[1][2] = 'X'
board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [6]:
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [9]:
l = [1, 2, 3]
id(l)
l *= 2
l
id(l)

102782536

In [11]:
t = (1, 2, 3)
id(t)
t *=2
id(t)

90422328

In [16]:
t = (1, 2, [30,40])
t += [50, 60]

TypeError: can only concatenate tuple (not "list") to tuple

In [26]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits, key = len, reverse = True)

['raspberry', 'banana', 'grape', 'apple']

In [27]:
fruits.sort()

In [28]:
fruits

['apple', 'banana', 'grape', 'raspberry']

In [42]:
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]
ROW_FMT = '{0:2d} @ {1:2d}     {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '  |' 
        print(ROW_FMT.format(needle, position, offset)) 

if __name__ == '__main__':
    if sys.argv[-1] == 'left': 
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect
    print('DEMO:', bisect_fn.__name__) 
    print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
    demo(bisect_fn)

DEMO: bisect
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14       |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14       |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13       |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11       |  |  |  |  |  |  |  |  |  |  |23
22 @  9       |  |  |  |  |  |  |  |  |22
10 @  5       |  |  |  |  |10
 8 @  5       |  |  |  |  |8
 5 @  3       |  |  |5
 2 @  1       |2
 1 @  1       |1
 0 @  0     0

In [43]:
def grade(score, breakpoints = [60, 70, 80, 90], grades = 'FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]
[grade(score) for score in [33, 99, 77, 70, 89, 90, 100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [45]:
import bisect
import random

SIZE = 7
random.seed(1729)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE * 2)
    bisect.insort(my_list, new_item)
    print('%2d ->' %new_item, my_list)

10 -> [10]
 0 -> [0, 10]
 6 -> [0, 6, 10]
 8 -> [0, 6, 8, 10]
 7 -> [0, 6, 7, 8, 10]
 2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]

In [48]:
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
floats[-1]
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

In [49]:
floats2 = array('d')
fp = open('floats.bin', 'rb')
floats2.fromfile(fp, 10**7)
fp.close()
floats2 == floats

True

In [7]:
import numpy
a = numpy.arange(12)
a
type(a)
a.shape
a.shape = 3, 4
a
a[2,1]
a[:,1]

array([1, 5, 9])

In [1]:
from collections import deque

In [8]:
dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
dq.rotate(3)
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [10]:
dq.rotate(-3)

In [12]:
dq.appendleft(-1)
dq

deque([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8])

In [13]:
dq.extend([11, 22, 33])
dq

deque([2, 3, 4, 5, 6, 7, 8, 11, 22, 33])

In [16]:
dq.extendleft([10, 20, 30, 40])
dq

deque([40, 30, 20, 10, [10, 20, 30, 40], 2, 3, 4, 5, 6])